<div class="card">
    <div class="card-body">
        <h5 class="card-title">Total money spent on collection: {{this.calcSpent()}}</h5>
        <hr>
        <div *ngFor="let sum of spent">
            <p>{{sum[1]}} spent on {{sum[0]}}</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">You own {{this.calcOwned()}} out of {{this.calcAll()}} sneakers</h5>
        <hr>
        <div *ngFor="let x of allNr">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" [style.width]="this.sanit(100*this.getOwnedNr(x[1]), x[0])" attr.aria-valuenow={{this.getOwnedNr(x[1])}} aria-valuemin="0" attr.aria-valuemax={{x[0]}}>
                    <div>{{this.getOwnedNr(x[1])}} out of {{x[0]}} {{x[1]}} products</div>
                </div>
              </div>
        </div>
    </div>
</div>