<button type="button" class="btn btn-primary" (click)="getSneakers()">All</button>
<hr>
<div>
    <button *ngFor="let prod of producers" type="button" class="btn btn-primary" (click)="getBy(prod)">{{prod}}</button>
</div>
<div class="row">
    <div class="col-sm-6" *ngFor="let sneaker of collection">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{sneaker.model}}</h5>
          <p class="card-text">{{sneaker.color}}</p>
          <p class="card-text">{{sneaker.producer}}</p>
          <p class="card-text">{{sneaker.price}} lei</p>
          <!-- <button (click)="addSneaker(sneaker)"> Add </button> -->
        </div>
      </div>
    </div>
</div>